/* @import "../node_modules/reset-css/sass/reset"; */
/* Custom CSS and variables to override Bootstrap goes to variables */
@import "./scss/variables";
/*  Import all of Bootstrap's CSS */
@import "~bootstrap/scss/bootstrap";

/* Importing ends here */

@font-face {
  font-family: RobotoRegular, Arial, Helvetica, sans-serif;
  src: "url(./fonts/Roboto-Regular.ttf)";
}

body {
  font-family: RobotoRegular, sans-serif;
}
